body {
    margin: 0;
    padding: 0;
    font-family: Lexend, sans-serif;
    background: url('C:\Users\teemo\OneDrive\Desktop\bg\pixel.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header h1 {
    font-size: 36px;
    color: #333;
    margin: 0;
}

.header p {
    font-size: 18px;
    color: #666;
    margin: 5px 0 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.activities {
    list-style-type: none;
    padding: 0;
}

.activity {
    background-color: #B6D0E2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.activity:hover {
    background-color: #89CFF0;
    color: #C71585; /* Red Violet */
}

.activity span.arrow {
    float: right;
    font-weight: bold;
}

.dropdown {
    display: none;
    margin-top: 10px;
    padding-left: 15px;
}

.dropdown a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
    transition: color 0.3s;
}

.dropdown a:hover {
    color: #C71585; /* Red Violet */
}
